//PEN HEADER
.header
  h1.header__title Gradient Navigation
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/gradient-navigation" title="Check on Github" target="_blanc") Check on Github
    
//PEN CONTENT
.content

  .content__section
  
    h2.content__title Pick a gradient direction
    
    .content__section-inner
      
      .btns
      
        button.btn.grad-btn.grad-btn--top(type="button" title="to top" data-dir="top")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.grad-btn.grad-btn--left(type="button" title="to left" data-dir="left")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--bottom(type="button" title="to bottom" data-dir="bottom")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn(type="button" title="to right" data-dir="right")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--top-left(type="button" title="to top left" data-dir="top left")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--top-right.js-active(type="button" title="to top right" data-dir="top right")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--bottom-left(type="button" title="to bottom left" data-dir="bottom left")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--bottom-right(type="button" title="to bottom right" data-dir="bottom right")
          i(class="fas fa-long-arrow-alt-right")
          
  .content__section
    
    .content__section-inner.nav-area(data-gradient="#00fff0, #5c9ff7 40%, #d322ff 80%" data-gradient-direction="right top")
      
      .nav-area__item
      
        .nav-area__item-icon
          i(class="fas fa-home")
          
        .nav-area__item-title
          p Home
          
      .nav-area__item
      
        .nav-area__item-icon
          i(class="fas fa-user")
          
        .nav-area__item-title
          p Profile
          
      .nav-area__item
      
        .nav-area__item-icon
          i(class="fas fa-cog")
          
        .nav-area__item-title
          p Settings
          
      .nav-area__item
      
        .nav-area__item-icon
          i(class="fas fa-credit-card")
          
        .nav-area__item-title
          p Payments
          
      .nav-area__item
      
        .nav-area__item-icon
          i(class="fas fa-phone-alt")
          
        .nav-area__item-title
          p Contact
          
      .nav-area__item
      
        .nav-area__item-icon
          i(class="fas fa-comment")
          
        .nav-area__item-title
          p Support
        
      
     
        
      