//PEN HEADER
.header
  h1.header__title Gradient Navigation
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/gradient-navigation" title="Check on Github" target="_blanc") Check on Github
    
//PEN CONTENT
.content

  .content__section
  
    h2.content__title Pick a gradient direction
    
    .content__section-inner
      
      .btns
      
        button.btn.grad-btn.grad-btn--top.js-active(type="button" title="to top")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn--left(type="button" title="to left")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--bottom(type="button" title="to bottom")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn(type="button" title="to right")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--top-left(type="button" title="to top left")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--top-right(type="button" title="to top right")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--bottom-left(type="button" title="to bottom left")
          i(class="fas fa-long-arrow-alt-right")

        button.btn.btn--sm.grad-btn.grad-btn--bottom-right(type="button" title="to bottom right")
          i(class="fas fa-long-arrow-alt-right")
          
  .content__section
    
    .content__section-inner.nav-area
      
      p item
      p item
      p item
      p item
      p item
      p item
        
      