//common styles
body {
  font: {
    family: 'Roboto', sans-serif;
  }
  color: #2c2c2c;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

//header styles
.header {
  max-width: 500px;
  margin: 50px auto;
  
  text-align: center;
}

.header__title {
  font: {
    weight: 500;
  }
}